$utilities: map-merge(
  $utilities,
  (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      (
        responsive: true
      ),
    ),
    "border-top": map-merge(
      map-get($utilities, "border-top"),
      (
        responsive: true
      ),
    ),
    "width": map-merge(
      map-get($utilities, "width"),
      (
        responsive: true
      ),
    ),
  )
);